.index{
    //內容
    .list{
        padding: 12px 33px 32px 33px;
        //上方註解
        .annotate{
            h3{
                font-size: 16px;
                line-height: 24px;
            }
            p{
                font-size: 12px;
                line-height: 24px;
                color: $light-gray;
            }
        }

        //學生問答區
        .user-comment{
            //問答簡介
            .user-question{
                width: 25%;
                margin-right: 16px;
                a{
                    padding: 12px;
                    .question-main{
                        h3{
                            display: inline-block;
                            font-size: 12px;
                            line-height: 24px;
                        }
                        h2{
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: bold;
                        }
                        p{
                            font-size: 12px;
                            line-height: 24px;
                            color: $light-gray;
                        }
                    }
                }
            }

            //問答詳情
            .comment{
                width: 75%;

                .comment-info{
                    .fas{
                        margin-right: 0;

                        &:hover{
                            color: $success;
                        }
                    }

                    //問題標題
                    .question-title{
                        h3{
                            font-size: 12px;
                            line-height: 24px;
                        }
                        h2{
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: bold;
                        }
                    }
                    a{
                        color: $dark-gray;
                    }

                    //問題內容
                    .question-content{
                        padding: 8px;

                        img{
                            width: 40px;
                            height: 40px;
                            border: 1px solid transparent;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                        .media-body{

                            li{
                                margin-bottom: 16px;

                                &:last-child{
                                    margin-bottom: 0;
                                }
                            }

                            h2{
                                font-size: 16px;
                                line-height: 24px;
                            }
                            h3{
                                font-size: 12px;
                                line-height: 24px;
                                color: $light-gray;
                            }
                            p{
                                font-size: 14px;
                                line-height: 21px;
                            }

                            .zip{
                                padding: 11px 16px;

                                &::after{
                                    content: '';
                                    border-bottom: 1px solid $light-gray;
                                    padding-bottom: 16px;
                                }
                                i{
                                    margin-right: 8px;
                                    width: 24px;
                                    height: 24px;
                                }
                            }

                            //老師編輯按鈕
                            .teacher-icon{
                                .icon{
                                    width: 24px;
                                    height: 24px;
                                    margin-right: 24px;

                                    &:last-child(){
                                        margin-right: 0;
                                    }

                                    &:hover{
                                        color: $success;
                                    }
                                }
                            }

                            //回饋list
                            .feedback-list{
                                margin-top: 21px;
                                list-style-type: disc;
                                padding: 0 50px;
                            }
                        }
                    }
                }



            }
        }
    }
}
